<%= form_for(@comment) do |f| %>
    <div class="field span5">
      <%= f.text_area :content, size: "30x10", placeholder: "Написать комментарий ко сну ..." %>
    </div>
    <%= f.hidden_field :word_id %>
    <%= f.submit "Отправить", class: "offset1 btn btn-large btn-primary" %>
<% end %>