<b>Sonara</b> это лучший сонник на свете!
Более 75000 толкований снов от Фрейда, Ванги, Миллера и многих других.

<br><br>
Введите ключевое слово или его часть:

<%= render 'shared/search' %>
<br>
Или выберите первую букву:
<br>
<% (("а".."я").to_a-("ъ".."ь").to_a).each do |letter| %>
    <%= link_to(letter.mb_chars.upcase, words_path(letter: letter), class: "letter") %>
<% end %>
<% if current_user %>
    <h1> История снов </h1>
    <% @dreams.each do |date| %>
        <h2> <%= date[0] %> </h2>
        <% date[1].uniq_by(&:word_id).sort_by { |dream| dream.word.name }.each do |dream| %>
            <div>
              <%= link_to dream.word.name, dream.word, class: "words" %>
            </div>
        <% end
           end %>
<% end %>