<br>
<%= will_paginate %>

<table>
  <% if @words.size==0 %>
      Не найдено
  <% else
       @words.each do |word| %>
          <tr>
            <td> <%= link_to word.name, word %></td>
          </tr>
      <% end end %>
</table>

<%= will_paginate %>
<br>
<br>
<%= link_to 'Главная', root_path %>



