<br>
<%= will_paginate %>
<div class="words" style="width: 600px">
  <% if @words.size==0 %>
      Не найдено
  <% else
       @words.each do |word| %>
          <div>
            <%= link_to word.name, word, class: "words" %>
          </div>
      <% end end %>
</div>
<%= will_paginate %>
<br>
<br>
<%= link_to 'Главная', root_path %>
<br>


